body {
margin: 2%;
text-align: center;
font-family: 'Times New Roman', Times, serif;
}

.seccion{
border: 1px solid black;
    display: flex;
    align-items: flex-end;
}

.seccionChild{
    display: flex;
    align-items: flex-end;
}

.numero {
    font-size: 13px;
    font-weight: 700;
    text-align: left;
    padding-left: 5px;
    min-width: 3rem;
    border-right: 1px solid #070707;
}

.seccionPesonal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.seccion9 {
    display: flex;
    margin-right: 13px;
    border: 1px solid #070707;
}

.seccion10 {
    display: flex;
    margin-left: 13px;
    border: 1px solid #070707;
}

#responsableMercancias {
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 13px;
}

#funcionarioAduanero {
    width: 100%;
    justify-content: center;
    font-weight: bold;
    font-size: 13px;
}

.datosGenerales {
    display: grid;
    grid-template-columns: 1fr 1fr 5fr;
    text-align: left;


}

.datosGenerales >div {
    
    height: 3rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    padding-left: 5px;
    font-size: 11px;
    height: fit-content;
}

.seccion_referencias{   

    display: flex;
    align-items: flex-start;
    border-bottom:1px solid black;
    border-left: 1px solid black;
    border-right:  1px solid black;
}

.numero_referencias {
    font-weight: 700;
    text-align: left;
    padding-left: 5px;
    min-width: 3rem;
    border-right:1px solid #070707;
    font-size: 11px;

}

.dato_referencias {
    text-align: left;
    width: 100%;
    padding-left: 3px;
    font-size: 11px;
}

.titulo_seccion {
    padding-left: 3px;
    font-weight: bold;
    font-size: 13px;
}

.seccionDiligencias {
    padding-left: 3px;
    font-size: 11px;
}

.data_2_1 {
    height: 2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.data_2_2 {
    height: 2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.data_2_3 {
    height: 2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.data_2_4 {
    height: 2rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.seccionDiligencia {
    font-size: 11px;
    width: 100%;
    display: grid;
    grid-template-columns:5fr 2fr 3fr;

}

.dni {
    font-size: 11px;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.numero_diligencia  {
    text-align: left;
    padding-left: 5px;
    min-width: 3rem;
    font-size: 11px;
    border-right: 1px solid black;

}

.seccion_diligencia_descripcion {
    height: 7rem;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}
.titulo_descripcion_diligencia {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    font-size: 11px;
    text-align: left;
    padding-left: 5px;
}

.firma1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 8rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-right: 13px;
}

.firma2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 8rem;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin-left: 13px;
}
/* #contendorPrincipal {
    background-color: aquamarine;
} */